<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            Movie application
        </header>
        <div class="content">
            <div class="side-panel left"></div>
            <div class="arrow left-arrow"></div>
            <div class="main-panel"></div>
            <div class="arrow right-arrow"></div>
            <div class="side-panel right"></div>
        </div>
        <footer class="footer"></footer>
    </div>
</body>
</html>
